/* начало header */

.header {
  width: 100%;
  height: 288px;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1.57fr 1fr 1fr;
  place-items: center start;
}
.header__menu {
}
.header__links-list {
  margin: 5px 0 10px 60px;
  display: flex;
  gap: 0 20px;
  list-style: circle;
}
a{
  text-decoration: none;
  border-bottom: 2px solid;
}
.header__links-list-item {
}
.header__links-list-item_no-bullit {
  list-style: none;
  margin: 1px 0 0 0;
}
.header__link_active{
  border-bottom: 0px solid ;
}
.header__link {
  margin: 0 7px 0 0;
}
.header__logo {
  margin: -5px 0 0 0;
}
.header__logo-image {
  height: 105px;
}
.adress {
  margin: 0 0 0 20px;
}
.header__address {
}
.header__adress-list {
  list-style: none;
  line-height: 24px
}
.header__adress-list-item {
}
/* конец header */

/* начало main */
.cover {
  position: relative;
  width: 100%;
  height: 757px;
  background: url(/images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: grid;
  grid-template-rows: 8fr 2fr;
  z-index: -1;
}
.owerlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}
.cover__title {
  display: grid;
  text-transform: uppercase;
  letter-spacing: 30px;
  font-size: 100px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}
.align-text {
  grid-column: 1/4;
  grid-row: 1/3;
  place-self: center end;
  margin: 40px -30px 0 0;
}
.first__letter-space {
  margin: 0 0 0 30px;
}
.aligned-text_center {
  grid-column: 4/6;
  grid-row: 2;
  place-self: end;
  margin: 0 -125px -5px 0;
}
.second__letter-space {
  margin: 0 0 0 30px;
}
.aligned-text_right {
  grid-column: 6/9;
  grid-row: 3;
  place-self: start;
  margin: 7px 0 0 25px;
}
.third__letter-space {
  margin: 0 30px 0 0;
}
.cover__description {
  display: grid;
  grid-template-columns: 7fr 3fr;
  place-items: center;
  place-content: center;
}
.cover__description-text {
  word-spacing: 10px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 21px;
}
.first__word-spacing {
  word-spacing: 20px;
}
.bet-button {
  width: 256px;
  height: 51px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  word-spacing: 13px;
}
/* конец main */

/* начало article */
.lots {
  width: 100%;
  height: 692px;
}
.lots__heading {
  width: 100%;
  height: 231px;
  display: flex;
  align-items: end;
  font-size: 40px;
  text-transform: uppercase;
  padding: 0 0 6px 65px;
  margin: 0 0 21px 0;
}
.lots__card-list {
  gap: 27px;
  list-style: none;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 563px;
}
.lots__card-list-item {
  width: 334px;
  height: 563px;
}
.card-link {
}
.card {
  display: flex;
  position: relative;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  height: 563px;
}
.card_type_film {
  background: url(/images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.card_type_book {
  background: url(/images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.card_type_picture {
  background: url(/images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.card__title {
  margin: 50px 0 0 42px;
  text-transform: uppercase;
  text-decoration: underline;
}
.card__text {
  margin: 50px 42px;
  font-size: 20px;
}
.lots__look-more-link {
}

/* конец article */